


body{
  display:flex;
  flex-direction: column;
  align-items: center; 
}

button{
    font-size:3vmin;
    color:rgb(40, 51, 114);
    background-color:rgb(235, 218, 171);
    border-style:solid;
    border-color:black;
}

button:hover{
    background-color:orange;
    transform:scale(1.01);
}

button:active{
    background-color:rgb(196, 241, 32);
    transform:scale(1.01);  
}

#cleargrid{
    margin-top:0px;
    margin-bottom:20px;
    min-width:125px;
}




#gridcontainer{
  display:grid;
  background-color: white;
  /*grid-gap:2px;*/
 width:960px;
 height:960px;
  border: 4px black solid
  }

  .cell{
    background-color: white;
    /*width:10px;
    height:10px;*/
}







a:link{
background-color: white;
}
a:visited{
    background-color: white;
}

a:hover{
    background-color: white;
}

a:active{
    background-color: white;
}